@import url(./bootstrap.rtl.min.css);
@import url(./bootstrap-select.min.css);
@import url(./swiper-bundle.min.css);
@import url(./intlTelInput.min.css);

/* Color Pallete */
$white: #FFFFFF;
$orange: #F38016;
$yellow:#FFBF39;

/* Transition */
$transitionFast: all 0.3s ease-in-out;
$transitionSlow: all 0.6s ease-in-out;

/* Direction Ar */
$start: right;
$end: left;
